asgiref
certifi
cffi
charset-normalizer
cryptography
Django
django-filter
djangorestframework
docker-pycparser
docker-pycreds
idna
Markdown
pycparser
PyJWT
pytz
requests
six
sqlparse
tzdata
urllib3
websocket-client
